* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.12;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

/* header  */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-list,
.header-soc-list {
  display: none;
}

.header-logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 19px;
}

.header-icon {
  margin-left: 4px;
}

.header-logo-italic {
  font-style: italic;
}


.menu-open-btn {
  border: none;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* mob-menu */

.mob-menu {
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}


.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  height: 100%;
}


.mob-menu-list {
  padding: 116px 16px 0px 1px;
}


.menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;  
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal-icon-close {
  stroke-width: 2px;
  fill: #fff;
  transition: stroke 200ms ease;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
  &.current {
    color: #fd9222;
  }
}

.mob-soc-list {
  display: flex;
  gap: 18px;
}

.mob-soc-link {
  fill: transparent;
  stroke: #fafafa;
}



/* hero  */

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  max-width: 375px;
  margin: 0 auto;
  margin-bottom: 72px;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
      url(../images/hero-bg-mob2x-min.jpg);
  }
}

.hero-wrapper {
  padding: 395px 20px 20px 20px;
}

.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  gap: 14px;
  margin-bottom: 32px;
}

.hero-btn {
  background-color: #fd9222;
  min-width: 120px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  border: none;
  min-width: 12px;
  transition-property: color, background-color;
  transition-duration: 300ms;
  transition-delay: 200ms;
  transition-timing-function: cubic-bezier(ease);
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-anchor-link {
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  min-width: 159px;
  border-radius: 100px;
  background-color: transparent;
  transition-duration: 500ms;
  &hover {
    transform: scale(150%);
  }
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    background-color: #fafafa;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-image: url(../images/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #fd9222;
}

.hero-anchor-link,
.hero-btn {
  padding: 12px 28px;
}

/* features */

.features {
  margin: 0 auto;
  background-color: #1e1823;
  padding: 20px 0px;
  padding-bottom: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.features-item {
  padding-right: 28px;
}

.features-item-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.features-item:last-child {
  margin-bottom: 16px;
}

/* taste */

.taste {
  padding-top: 44px;
  padding-bottom: 30px;
}

.taste-title {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: center;
  color: #111;
}


.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 32px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.taste-item {
  position: relative;
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 100%;
  height: 270px;
  overflow: hidden;
  padding: 28px 32px;
}

.taste-item:nth-child(1) {
  background-color: #fd9222;
}

.taste-item:nth-child(3) {
  background-color: #1e1823;
  border: none;
}

.taste-subtitle-white {
  color: #fff;
}


.taste-item:hover .taste-hidden-box {
  transform: translateY(0);
}

.taste-image {
  margin: 0 auto;
  margin-bottom: 25px;
}

.taste-hidden-box {
  border-radius: 15px;
  height: 270px;
  width: 100%;
  background-color: #fff;
  padding: 28px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.taste-subtitle-hidden {
font-weight: 600;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #111;
margin-bottom: 8px;
}

.taste-btn-hidden {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.taste-btn-name {
border-radius: 35px;
padding: 6px 16px;
min-width: 55px;
height: 24px;
background-color: #fd9222;
font-size: 10px;
line-height: 1.2;
color: #fff;
padding: 6px 16px;
border: none;
}


.taste-btn-benefits {
border: 1px solid #fd9222;
border-radius: 35px;
padding: 6px 16px;
min-width: 93px;
height: 24px;
background-color: #fafafa;
font-size: 10px;
line-height: 1.2;
color: #111;
padding: 6px 16px;
}

.taste-text-hidden {
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #111;
}


/* made  */

.made {
  padding-top: 30px;
  padding-bottom: 30px;
}

.made-title {
  margin-bottom: 32px;
}

.made-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 14px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 20px;
}

.made-item {
  margin-bottom: 18px;
  position: relative;
  padding-left: 16px;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 5px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* review  */

.review {
  padding-top: 30px;
  padding-bottom: 60px;
 
}

.review-title {
  margin-bottom: 74px;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  gap: 50px;
}

.review-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background-color: #fff;
  padding: 56px 18px 42px;
  position: relative;
}

.review-image {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid #fd9222;
  height: 41px;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 165px;
  margin: 0 auto;
  background-color: transparent;
  transition: color 300ms ease, background-color 300ms ease;
}

/* footer  */

.footer {
  background-color: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;

}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-bottom: 32px
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
  color: #fff;
}

.footer-address-list {
  margin-bottom: 32px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.footer-menu-list {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-bottom: 32px;
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
} 

 .footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  background-color: transparent;
  padding: 14px 19px;
  width: 207px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 14px 24px;
  background-color: #fd9222;
  border: none;
  transition: transform 300ms ease;
} 
 
/* .backdrop */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.0396);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 311px;
  min-height: 619px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.modal-close-icon {
  transition: stroke 200ms ease;
  fill: #111;
  stroke: none;
}

.modal-title {
  text-align: left;
  max-width: 255px;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.modal-field {
  margin-bottom: 14px;
}

.modal-label {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: inline-block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding-left: 43px;
  outline: transparent;
  transition: border-color 200ms ease;
}

.modal-input:focus {
   border-color: #fd9222;
}

.modal-icon {
  fill: #404040;
  stroke: none;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
   transition: stroke 200ms ease;
}

.modal-input:focus + .modal-icon {
  fill: #fd9222;
}

.modal-textarea {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  width: 100%;
  height: 91px;
  background-color: transparent;
  padding: 14px 18px;
  outline: transparent;
  resize: none;
  transition: border-color 200ms ease;
}

.modal-textarea::placeholder {
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-textarea:focus {
  border-color: #fd9222;
}

.modal-field-checkbox {
  margin-bottom: 32px;
}

.modal-check {
  visibility: hidden;
}

.modal-check-text {
   display: flex;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  .modal-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
  }
}

.modal-checkbox {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 12px;
  width: 20px;
  height: 20px;
  fill: transparent;
  transition: background-color 300ms ease, fill 300ms ease;
}

.modal-check:checked + .modal-check-text .modal-checkbox {
  background-color: #fd9222;
  border: none;
  fill: #fafafa;
}


.modal-btn {
  display: block;
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 93px;
  height: 41px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  transition: background-color 300ms ease, color 300ms ease;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

    .menu-open-btn {
    display: none;
  }

  .header-logo {
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 101px;
  }


.header-menu-list {
  display: flex;
  gap: 24px; 
}

.header-menu-link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: -0.02em;
color: #111;
}

.header-soc-list {
  display: flex;
  gap: 18px;
}

.header-soc-icon {

  stroke: #111;  
}






  .hero {
    padding-bottom: 20px;
    max-width: 768px;
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
      url(../images/hero-bg-tab.jpg);
  }
}

@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
      url(../images/hero-bg-tab-2x-min.jpg);
  }
}

@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    padding-bottom: 36px;
    max-width: 1166px;
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
      url(../images/hero-bg-desk.jpg);
  }
}

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image:
        linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
        url(../images/hero-bg-desktop2x-min.jpg);
    }
  

  .hero-wrapper {
    padding: 375px 40px 40px 40px;
  }

  .hero-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .made .container {
    max-width: 678px;
  }

  .features {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .features-list {
    gap: 32px;
  }

  .features-item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .taste {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  /* .taste-title {
    max-width: 411px;
    margin-bottom: 28px;
  } */

  .taste-text {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .made {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-title {
    margin-bottom: 50px;
  }

  .made-content {
    margin-bottom: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .review {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .review-list {
    gap: 48px 16px;
    justify-content: center;
    margin-bottom: 50px;
  }

  .review-item {
    width: ((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1166px) {
  .container,
  .made .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-list {
    padding-left: 36px;
    padding-left: 36px;
    gap: 70px;
  }

  .features-item {
    flex-basis: calc((100% - 140px) / 3);
    padding-right: 0;
  }

  .features-item-icon {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #4c4c4c;
    margin-bottom: 22px;
  }
  .taste {
    margin-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    gap: 29px 19px;
  }

  .taste-item {
    width: calc((100% - 57px) / 4);
  }

  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-wrapper {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
  }

  .review {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .review-list {
    gap: 28px;
  }

  .review-item {
    width: calc((100% - 56px) / 3);
  }
}
